html{
   height: 100%;
}
body{
   display:flex;
   justify-content:center;
   align-items:center;
   padding-top:2rem;
   height:100%;
   width:100vw;
}
.container{
   height:100%;
   position:fixed;
}

li{
   list-style: none;
}
ul::-webkit-scrollbar {
   display: none;
 }

ul{
   border-radius:10px;
   display:flex;
   flex-direction:column;   
   background-color: darkturquoise;
   padding:20px 10px;
   /* max-height:70vh; */
   height:80%;
   overflow-y:scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

.sender-item{   
   font-weight: 700;
}
.send{
margin:40px 20px;
}
.message-item{
   border-radius:10px ;
   margin:10px 0px;
   padding:5px 20px;
   text-align: start;
   width: max-content;
   max-width:400px;
   height:auto;
   line-break:anywhere;
   background-color: #ebebeb;
   color:black;
}

.my-message-item{
   align-self: end;
   border-radius:10px;
   margin:10px 0px;
   padding:5px 10px;
   text-align: start;
   width: max-content;
   max-width:400px;
   height:auto;
   overflow-wrap: break-word;
   background-color: #ebebeb;
   color:black;
}
#background{
   width:20%;
   margin:0px 20px;
}

.notify{
   display:flex;
   justify-content: center;
   font-weight: 600;
   color:white;
   /* text-transform: uppercase; */
}

form{
   /* width:20rem; */
   position: relative;   /* width: 100%; */
   bottom: 20px;;
}
.send{
   display: flex;
   align-items: flex-start;
}

