html{
   height: 100%;
}
body{
   display:flex;
   justify-content:center;
   align-items:center;
   height:100%;
   width:100vw;
}
.container-fluid{
   height: 100%;
   position:relative;
}
li{
   list-style: none;
}
ul::-webkit-scrollbar {
   display: none;
 }

ul{
   border-radius:10px;
   display:flex;
   flex-direction:column;   
   background-color: darkturquoise;
   padding:5px 5px;
   /* max-height:70vh; */
   height:83%;
   overflow-y:scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

.sender-item{   
   font-weight: 700;
}
.send{
margin:0.5vh 0px;
}
.message-item{
   border-radius:10px ;
   margin:10px 0px;
   padding:5px 20px;
   text-align: start;
   width: max-content;
   max-width:400px;
   height:auto;
   line-break:anywhere;
   background-color: #ebebeb;
   color:black;
}

.my-message-item{
   align-self: end;
   border-radius:10px;
   margin:10px 0px;
   padding:5px 10px;
   text-align: start;
   width: max-content;
   max-width:400px;
   height:auto;
   overflow-wrap: break-word;
   background-color: #ebebeb;
   color:black;
}
#background{
   float:right;
   width:20%;
   /* margin:0pxpx; */
}

.notify{
   display:flex;
   justify-content: center;
   font-weight: 600;
   color:white;
   /* text-transform: uppercase; */
}

form{
   height: 5%;
   width: 100%;
   position: relative; 
   bottom: 2vh;;
}
.send{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

